
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    opacity: 0.8;
    background-color: #cabcab;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.workvideo {
    height: 330px;
    width: 600px;
    margin-bottom: 50px;
  }

workvideo::-webkit-media-controls {
    display:none !important;
}

h3.normal { color: #000}
span.red { color: #F694C1}
span.yellow { color: #ACF39D}
span.blue { color: #34a5ea}

.smallslide {
    display: inline-block;
    max-width: 70%;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 0.8;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:0.8;}
}